<div class="{{ ('multi-column-editor ' ~ cssClass)| trim }}" data-env="{{ isBackend ? 'backend' : 'frontend' }}" data-field="{{ fieldName }}" data-table="{{ table }}" data-min-row-count="{{ minRowCount }}" data-max-row-count="{{ maxRowCount }}">

    {% if(rows|length < 1 ) %}
        <a href="{{ ajaxAddUrl }}" class="add first{% if isBackend %} tl_submit{% endif %}" title="{{ 'huh.multicolumneditor.add.default'|trans }}">
            <span>{{ 'huh.multicolumneditor.add.default'|trans }}</span>
        </a>
    {% else %}
        <div class="{{ 'rows ' ~ (sortable|default() ? 'sortable' : '') | trim }}">
            {% for iterator, row in rows %}
                <div class="{{ 'mce-row row_' ~ iterator | trim }}" data-index="{{ iterator }}">
                    <div class="fields">
                        {% for field, widget in row %}
                            {% if widget.type == "hidden" %}
                                {{ widget.parse()|raw }}
                            {% else %}
                                {% if widget.datepicker|default or widget.dcaPicker|default %}
                                    {% set wizard = ' wizard' %}
                                {% endif %}
                                <div class="{{ ('form-group ' ~ field  ~ wizard|default ~ (isBackend ? ' col' : '')) | trim }}" data-name="{{ widget.noIndex }}"{% if widget.groupStyle|default() %} style="{{ widget.groupStyle }}"{% endif %}>
                                    {{ widget.parse()|raw }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="actions">
                        <a href="{{ ajaxAddUrl }}" class="add" title="{{ 'huh.multicolumneditor.add.default'|trans }}">
                            {% if isBackend %}
                                <img src="system/themes/flexible/icons/copy.svg" width="16" height="16">
                            {% else %}
                                <span>{{ 'huh.multicolumneditor.add.default'|trans }}</span>
                            {% endif %}
                        </a>

                        <a href="{{ ajaxDeleteUrl }}" class="delete" title="{{ 'huh.multicolumneditor.delete.default'|trans }}">
                            {% if isBackend %}
                                <img src="system/themes/flexible/icons/delete.svg" width="16" height="16">
                            {% else %}
                                <span>{{ 'huh.multicolumneditor.delete.default'|trans }}</span>
                            {% endif %}
                        </a>

                        {% if sortable|default() %}
                            <a class="drag-handle" href="{{ ajaxSortUrl }}" title="{{ 'huh.multicolumneditor.sort.default'|trans }}">
                                {% if isBackend %}
                                    <img src="system/themes/flexible/icons/drag.svg" width="16" height="16" alt="">
                                {% else %}
                                    <span>{{ 'huh.multicolumneditor.sort.default'|trans }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>